@charset "UTF-8";
body{margin:0; padding:0;}
	ul,li{margin:0px; padding:0px;list-style-type:none;} 
	ul{list-style-type:none;}
	/*=====================================header========================================================*/
	header{margin:0;padding:0; height:100px;}
	
	#logoDiv{text-align:right;width:55%;position:absolute;}
	.lineDiv{background-color:rgb(64,64,64); height:2px;}
	
	
	/*로그인,회원가입*/
	#loginDiv{width:80%;}
	#login{width:60%; height:50px; padding:10px 0px 0 95%;}
	#loginDiv li{line-height:55px; font-size:15px; float:left; width:15%;}
	#login>li>img{width:25px;}
	#login>li:last-child>input{
								border:1px solid rgb(0,176,176);
								border-radius:10px;
								width:100px;
								height:40px;
								background-color:#fff;
								color:rgb(0,176,176);
								font-size:15px;}
								
	/*로그인 링크*/
	#login a:link,#login a:visited{text-decoration:none; color:rgb(123,123,123);}	
					
	
	/*네비게이션*/
	#naviDiv{width:800px; margin:0 auto;}
	#navi{height:50px; padding-bottom:10px}
	#navi li{text-align:center; line-height:55px; font-size:20px;}
	#navi>li{float:left; width:20%; height:50px;}
	#navi>li>ul{display:none; position:relative; border:3px solid rgb(221,221,221);background-color:#fff; z-index:100;}	

	 
	 /*홈,루트짜기,코스검색,동행찾기,후기-->파란밑줄 선*/
	#navi li #homeLine{margin:0 auto; width:20px; height:2px; background-color:rgb(0,176,176);  display:none;}
	#navi li #routeLine{margin:0 auto; width:70px; height:2px; background-color:rgb(0,176,176); display:none;} 
	#navi li #courseLine{margin:0 auto; width:70px; height:2px; background-color:rgb(0,176,176); display:none;} 
	#navi li #searchLine{margin:0 auto; width:70px; height:2px; background-color:rgb(0,176,176); display:none;} 
	#navi li #reviewLine{margin:0 auto; width:40px; height:2px; background-color:rgb(0,176,176); display:none;} 
	


	/*링크*/
	#navi a:link,#navi a:visited{text-decoration:none;color:rgb(64,64,64);}
	#navi a:hover{text-decoration:none; color:rgb(64,64,64);}
	
	.popupMenuColor:hover{background-color:rgb(221,221,221); height:55.5px;font-weight:bold;}

	/*================================================footer==================================================================*/
	#footer{margin:0;padding:0;}
	#topDiv{height:64px; background-color:rgb(55,55,65);}
	#bottomDiv{height:162px;background-color:rgb(69,69,79);}
	
	
	#topDiv li{float:left; width:10%; font-size:13px;line-height:60px;}
	#topDiv>ul{margin-left:100px;}
	
	#bottomDiv div:first-child{position:absolute; padding:40px 0 0 75px;width:60%; height:70px;}
	#bottomDiv div:first-child>img{width:180px; height:75px;}
	
	#bottomDiv>#bottomLogoDiv{width:52%;height:80px;text-align:center;}
	#bottomDiv #bottomLogoDiv>label{color:rgb(123,123,123);font-size:12px;line-height:120px;}
	
	#bottomDiv div:last-child{width:47.5%;height:80px;text-align:center;}
	#bottomDiv div:last-child>label{color:rgb(123,123,123);font-size:12px;}
	
	#topDiv a:link,#topDiv a:visited{text-decoration:none; color:rgb(123,123,123);}
	
	
	.container{width:800px; margin : 0 auto;}