@charset "UTF-8";
body{margin:0; padding:0;      
	overflow-x:hidden;
    overflow-y:auto;}
	ul,li{margin:0px; padding:0px;list-style-type:none;} 
	ul{list-style-type:none;}
	/*=====================================header========================================================*/
	/*로고*/
	header{margin:0;padding:0; height:100px;}
	

	#logoDiv{text-align:right;width:57%;position:absolute;margin-top:25px;}
	hr{color:rgb(64,64,64); height:1.7px; margin:0; padding:0; z-index:9}
	#logoDiv img{
					width:220px; 
					height:70px;
				}
	
	/*=======================로그인 전,회원가입==============================================*/
	#loginDiv{width:230px; height:100px; margin-left:1200px;}
	#login>li:first-child{
							font-size:15px;
							padding-top:50px;
	}
	#login>li:nth-child(2n){
							padding-top:45px;
	}
	#login>li:last-child{
						padding-top:40px;
	}
	#loginIcon{
				width:30px;
	}

	#login>li{
				float:left;
			
	}

	/*로그인 링크*/
	#login a:link,#login a:visited{text-decoration:none; color:rgb(123,123,123);}	

	/*회원가입 버튼*/			
	#login>li:last-child>input{border:1px solid rgb(0,176,176);
								border-radius:10px;
								width:100px;
								height:40px;
								background-color:#fff;
								color:rgb(0,176,176);
								font-size:15px;}		
	
	/*===================================로그인 후,회원가입=====================================*/
	#logoutDiv{width:230px; height:100px; margin-left:1200px;}
	#logout>li:last-child{
							padding:42px 0 0 20px;
	}
	#logout>li:first-child{
						padding:40px 0 0 50px;
	}
	#alarmIcon{
				width:30px;
	}

	#logout>li{
				float:left;
			
	}
	
	/*logName 버튼*/			
	#logout>li:first-child>input{
								border:1px solid rgb(0,176,176);
								border-radius:10px;
								width:100px;
								height:40px;
								background-color:#fff;
								color:rgb(0,176,176);
								font-size:15px;}	
	
	#logout>li>ul{
					display:none; 
					width:230px; 
					position:absolute; 
					border:3px solid rgb(221,221,221);
					background-color:#fff; 
					z-index:100; 
					line-height:55px;
					
	}
	#logIdIcon{width:40px; position:absolute; padding:20px 0 0 20px;}
	#logId{position:absolute; padding:8px 0 0 60px; color:rgb(64,64,64);}
	#mypage{position:absolute; padding:35px 0 0 60px;}
	#classDiv{padding-top:30px;}
	.c1{padding-left:20px;}
	#classDiv .c1:first-child{border-bottom:2px solid rgb(221,221,221);border-top:2px solid rgb(221,221,221);}
	#classDiv .c1:nth-child(2n){border-bottom:2px solid rgb(221,221,221);}
	
	/*logId 링크*/
	#mypage a:link,#mypage a:visited{text-decoration:none;color:rgb(0,176,176);}
	#mypage a:hover{text-decoration:none; color:rgb(0,176,176);}
	.c1 a:link, .c1 a:visited{text-decoration:none; color:rgb(64,64,64);}
	.c1 a:hover{text-decoration:none; color:rgb(64,64,64);}
	
	
	/*네비게이션*/
	#naviDiv{margin-left:26%;}
	#navi{height:50px; padding-bottom:10px;}
	#navi li{text-align:center; line-height:55px; font-size:20px;}
	#navi>li{float:left; width:13%; height:50px;position:relative;}
	#navi>li>ul{display:none; position:absolute; border:3px solid rgb(221,221,221); width:140px;background-color:#fff; z-index:100;}
	
	 
	 /*홈,루트짜기,코스검색,동행찾기,후기-->파란밑줄 선*/
	#navi li #homeLine{margin:0 auto; width:20px; height:2px; background-color:rgb(0,176,176);  display:none;}
	#navi li #routeLine{margin:0 auto; width:70px; height:2px; background-color:rgb(0,176,176); display:none;} 
	#navi li #courseLine{margin:0 auto; width:70px; height:2px; background-color:rgb(0,176,176); display:none;} 
	#navi li #searchLine{margin:0 auto; width:70px; height:2px; background-color:rgb(0,176,176); display:none;} 
	#navi li #reviewLine{margin:0 auto; width:40px; height:2px; background-color:rgb(0,176,176); display:none;} 
	


	/*링크*/
	#navi a:link,#navi a:visited{text-decoration:none;color:rgb(64,64,64);}
	#navi a:hover{text-decoration:none; color:rgb(64,64,64);}
	
	.popupMenuColor:hover{background-color:rgb(221,221,221); height:55.5px;font-weight:bold;}

	/*================================================footer==================================================================*/
	#footer{margin:0;padding:0;}
	#topDiv{height:64px; background-color:rgb(55,55,65);}
	#bottomDiv{height:162px;background-color:rgb(69,69,79);}
	
	
	#topDiv li{float:left; width:10%; font-size:13px;line-height:60px;}
	#topDiv>ul{margin-left:100px;}
	
	#bottomDiv div:first-child{position:absolute; padding:40px 0 0 75px;width:60%; height:70px;}
	#bottomDiv div:first-child>img{
									width:220px; 
									height:70px;}
	
	#bottomDiv>#bottomLogoDiv{width:52%;height:80px;text-align:center;}
	#bottomDiv #bottomLogoDiv>label{color:rgb(123,123,123);font-size:12px;line-height:120px;}
	
	#bottomDiv div:last-child{width:47.5%;height:80px;text-align:center;}
	#bottomDiv div:last-child>label{color:rgb(123,123,123);font-size:12px;}
	
	#topDiv a:link,#topDiv a:visited{text-decoration:none; color:rgb(123,123,123);}
	
	
	.container{margin : 0; padding:0}
	#mainDiv{width:800px; margin : 0 auto;}
	
	/*=====================================main=====================================================*/

	.shadow{
		background-color:black;
		opacity:0.5;
		position: relative;
		z-index: 100;
	}
	#bxslider img{
		width:800px;
		height:300px;
	}
	
	#hitRoute{
		width:100%;
		height:235px;
		text-align:center;
	}
	#content1{
		height:235px;
		margin-top:130px;
		padding-left:65px;
	}
	
	.hitIcon{
		width:70px;
		height:30px;
		margin-left:85px;
		position:absolute;
	}
	.thumbnail{
		width:155px;
		height:155px;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}
	.routeTitle{
		font-size:17px;
		word-spacing:-3px;
		margin-bottom:5px;
	}
	.routeTitle, .sub{
		float:left;
	}
	.route{
		float:left;
		margin-right:5px;
	}
	
	#routeSearch{
		width:83%;
		height:40px;
		margin-top:20px;
		margin-left:70px;
		padding-top:8px;
		text-align:center;
		background-color:#008888;
	}
	#routeSearch a{
		font-size:15px;
		color:white;
		padding-bottom:5px;
		text-decoration: none;
		font-weight:bold;
	}
	
	#national{
		width:100%;
		height:400px;
		margin-top:30px;
		margin-bottom:150px;
		text-align:center;
	}
	#location{
		width:100%;
		margin-top:50px;
		text-align:center;
	}
	#location img{
		border-radius: 10px / 10px;
		margin: 5px 2px 0px;
		width:125px;
		height:160px;
	}
	/*=========================소라 수정20/11/13===========================================*/	
	
	div.bx-wrapper{
		margin-top:-3.1px;
		
	}
	#bxsliderTour img{
		margin-top:-2px;
	}
	
	
	.bx-wrapper {
	 -moz-box-shadow: none !important;
 	 -webkit-box-shadow: none !important;
 	 box-shadow: none !important;
 	 padding:0;

	}